@model List<SocialMediaIconListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="text-left my-2">
    <a class="btn btn-info" asp-controller="SocialMediaIcon" asp-action="Add">Yeni Kayıt</a>
</div>

<table class="table table-hover table-striped mt-2">
    <thead>
        <tr>
            <th>İkon Bilgisi</th>
            <th>Link Bilgisi</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Icon</td>
                <td><a>@item.Link</a></td>
                <td>
                    <a class="btn btn-warning btn-sm mr-1" asp-action="Update" asp-controller="SocialMediaIcon" asp-route-id="@item.Id">Düzenle</a>
                    <a onclick="return confirm('Silmek istediğinizden emin misiniz?')"
                       class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="SocialMediaIcon"
                       asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

