@model List<SkillListDto>

    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-3">Yetenekler</h2>
            <ul class="fa-ul mb-0">
                @foreach (var item in Model)
                {
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h4>@item.Description</h4>
                    </li>
                }
            </ul>
        </div>
    </section>
