@model ProjectListDto

    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Projelerden Bahsetme</h2>
            <p style="color:black">
                Asp.Net Core MVC/API teknolojisini kullanarak;
                <br />
                <strong>-“Blog Proje”</strong>
                <br />
                <strong>-"İş Takip sistemi"</strong>
                <br />
                <strong>-“Korona Hastalarına Hızlı Müdahale”</strong>
                <br />
                isimli projeler geliştirdim. Bu projelerde Katmanlı Mimari ve SOLID mimarisine uygun bir şekilde kodlamalar gerçekleştirdim. Projelerimde Session, JWT yapısını sıkı bir biçimde kullandım. Projelerimde EntityFramework Core teknolojisini kullandım. Projelerimin sonunda uygun olarak black-box ve white-box testlerini de gerçekleştirdim. Projelerimin Back-End kısmını Visual Studio'da, Front-End kısmını Visual Studio Code'da gerçekleştirdim. Böylece Api ve MVC haberleşmesini gerçekleştirmiş oldum.
                <br />
                <br />
                .Net Core Backend ağırlıklı olarak <strong>"DevFramework"</strong> adlı proje geliştirdim. Burada Engin Demiroğ'un kurslarından baya yararlandım. Burada amacım Transaction, Loglama, Hata Kontrolü, JWT işlemlerini çok iyi bir biçimde anlamaktı ve onun için bu proje üzerinden bu konuları öğrendim. Sonraki gerçekleştirdiğim projelerde Loglama, Transaction, JWT yapısını kullandım. Üst tarafta yazdığım 3 proje bunlara dahildir.
                <br />
                <br />
                Kendi CV’mi canlıya aldığım bir Web sayfası geliştirdim. Burada Dapper teknolojisini kullandım. Katmanlı Mimari ve SOLID yapısına uygun bir biçimde geliştirmelerimi yaptım. Admin ve Client tarafları ayrı ayrı tutulmaktadır.
                <br />
                <br />
                C# dilini ve ekstra görsellik olarak DevExpress kullanarak <strong>Restaurant Otomasyon, Beyaz Eşya Otomasyon, Alışveriş Otomasyon</strong> projeleri gerçekleştirdim. Projelerdede Katmanlı Mimari yapısına uygun bir biçimde kodlama gerçekleştirdim.
                <br />
                <br />
                MSSQL ve benzeri veritabanları üzerinde çalıştım. Son 10 yıl Avrupa futbol istatistiklerine ait verileri analiz edip, Devexpress componentlerini kullanarak görselleştirdim. Logo veritabanını kullanarak veritabanı bakımı, yedek alma ve veri analizini gerçekleştirdim.
                <br />
                <br />
                Sadece HTML/CSS kullanarak, pekiştirmek amaçlı basit web sayfaları tasarladım. Basitçe Spor Salonu, Otel Sitesi tasarladım.
                <br />
                <br />
                Projelerimin geri kalanlarını da size sunmak isterim...
            </p>
        </div>
    </section>
